:root {
    --edu-way-label-color: #3b3f48; 
    --edu-way-input-border-color: #dcdad7; 
    --edu-way-input-bgrd-color: #fafafa; 
}

.edu-way-people-input-container {
    display: flex;
    flex-direction: column;
}

.edu-way-people-input-container .edu-way-people-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--edu-way-label-color);
    margin-left: 10px;
}

.edu-way-people-input-container .edu-way-people-input {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    max-width: 211px;
    max-height: 35px;
    padding: 12px 20px;
    padding-left: 12px;
    margin: 6px 0 15px 0;
    border: 1px solid var(--edu-way-input-border-color);
    border-radius: 3px;
    background-color: var(--edu-way-input-bgrd-color);
}