.form--heading {
  text-align: center;
}

.form--comment {
  margin: 1.5em auto;
  width: 12em;
}
.form--box .field--select {
  width: 70%;
}

.form--accept-rules-checkbox {
  margin: 1.5em 0 1.5em 2.4em;
}

.accept-rules--link {
  color: #551a8b;
  border-bottom: 1px solid #551a8b;
}

.accept-rules--link:hover {
  cursor: pointer;
}
