.form--heading {
  text-align: center;
}

.form--comment {
  margin: 1.5em auto;
  width: 12em;
}

.form--accept-rules-checkbox {
  text-align: center;
  margin: 1.5em 0;
}

.accept-rules--link {
  color: #551a8b;
  border-bottom: 1px solid #551a8b;
}

.accept-rules--link:hover {
  cursor: pointer;
}
