.heading-underline {
  width: 35%;
  border-color: rgb(47, 179, 219);
  margin-bottom: 3em;
  margin-top: -2em;
}

.news-card .details-button {
  margin: 0 auto;
  display: block;
}

@media (max-width: 960px) {
  .heading-underline {
    width: 75%;
  }
}
