.add-category-form {
  width: 81%;
  margin: 0 auto;
}

.add-category-form--heading {
  margin-left: 1em;
  font-size: 1.5em;
}

@media (max-width: 576px) {
  .form--box {
    display: inline-block;
  }
  .add-category-form {
    width: 100%;
  }
}
