.adminCategory {
  cursor: pointer;
  border-bottom: 2px solid lightgrey;
}

.adminCategory:last-child {
  border-bottom: none;
}

.adminCategory:hover {
  background-color: #dedede;
}

.adminCategory--title {
  width: 88%;
  font-size: 1em;
  border: none;
  background-color: transparent;
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.adminCategory--controls {
  display: inline-block;
  height: 1em;
  margin-left: 1em;
  width: 8%;
}

@media (max-width: 768px) {
  .adminCategory--title {
    width: 82%;
  }
  .adminCategory--controls {
    width: 14%;
  }
}

@media (max-width: 576px) {
  .adminCategory--title {
    width: 71%;
    padding-left: 0;
    padding-right: 0;
  }
  .adminCategory--controls {
    width: 22%;
  }
}

.adminCategory--image {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
}

.adminCategory--image img {
  width: 16px;
}

.adminCategory--image:last-child {
  float: right;
}
