.library-items--single-item {
  border-bottom: 1px solid rgb(238, 230, 230);
  padding: 2em 0;
}
.single-item--link {
  color: rgb(47, 179, 219);
  text-decoration: none;
  font-size: 1.3em;
  text-align: center;
}
.single-item--text {
  margin: 1em 0;
  text-indent: 2em;
  line-height: 1.3em;
  text-align: justify;
}
