.edu-people-list-filter {
    padding-right: 70px;
}

.edu-people-list-filter .edu-people-list-btn {
    font-size: 14px;
    color: #3b3f48;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 43px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #dcdad7;
    background-color: #f0f0f0;
    margin-top: 15px;
    outline: none;
}

.edu-people-list-filter .edu-people-list-btn:active {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);


}

.edu-people-list-filter .edu-people-list-btn[disabled] {
    color:#9b9b9b;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.3);

}