

.projects-admin {
    padding: 5px 20px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
}
.projects-admin-title{
    cursor: pointer;
    text-decoration: underline;
}
.projects-admin-title:hover{
    text-decoration: none;
}
.projects-admin div {
    text-align: center;
    align-self: center;
    flex-basis: 25%;
}
.projects-admin div:first-child {
    text-align: left;
}