.project-admin {
    padding: 5px 50px 5px 20px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
}
.project-admin div {
    flex-basis: 50%;
    text-align: center;
    align-self: center;
}
.project-admin div:first-child {
    flex-basis: 25%;
    text-align: left;
}
.project-admin div:last-child {
    flex-basis: 25%;
}
