.search {
  text-align: center;
}
.search--input {
  width: 30em;
  font-size: 1em;
  border: none;
  padding: 10px;
  box-shadow: 0 0.5em 1em rgb(238, 235, 235);
}
.search--button {
  background-color: #1d6e87;
  opacity: 0.8;
  box-shadow: 0 0.5em 1em rgb(238, 235, 235);
  color: white;
  text-transform: uppercase;
  border: none;
  width: 10em;
  font-size: 1em;
  padding: 10px;
}

.search--button:hover {
  opacity: 1;
}
