.button-subscribe{
	text-transform: uppercase; 
    color: #969696;
    font-weight: 600;
	margin-left: 10px;
	padding: 10px;
    width: 162px;
    height: 45px;
    background-color: #e8e6e2;
    border: solid 2px #979797;
}
.button-admin-exit{
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 15px;
    padding: 5px 10px;
    min-width: 100px;
    
}
.button-admin-exit:hover{
    background-color: #fff;
    color: #4CAF50;
    border-color: #4CAF50;
}