.datepicker {
    display: flex;
    
    align-items: baseline;
}
.datepicker > div {
    margin-right: 52px;
}
.modal-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
}
