.form {
  margin: 1em auto;
  width: 35em;
  background-color: #fff;
  box-shadow: 0 0.5em 1em rgb(238, 235, 235);
  padding: 1em;
}

.form--heading {
  font-size: 2em;
}

.form--input {
  width: 80%;
  border: none;
  background-color: #f6f6f6;
  padding: 1em;
  display: block;
  margin: 0 auto;
  box-shadow: none;
}

.input--select {
  width: 85%;
}

.form--radio-input {
  display: flex;
  margin: 1em;
  margin-left: 2.3em;
}

.radio-input--label {
  margin-left: 0.5em;
}

.form--label {
  display: inline-block;
  margin: 2em 0 1em 3em;
}

.form--button {
  margin: 1em auto;
}

.field-wide {
  width: 17em;
}

.field-narrow {
  width: 4.1em;
}

@media (max-width: 576px) {
  .form {
    width: 90%;
  }
  .field-wide {
    min-width: 90%;
  }
}
