.markers-content {
  margin-left: 300px;
  padding-top: 55px;
}

.markers-list-header {
  line-height: 2.5;
  padding: 5px 20px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
}

.markers-list-header span {
  font-weight: 600;
  text-align: center;
  flex-basis: 25%;
}

.markers-list-header span:first-child {
  text-align: left;
}

.row {
  padding: 5px 20px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
}

.cell {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
}

.cell:first-child {
  justify-content: left;
}