.tabs-box {
  background-color: #fff;
  margin: 0 1em;
  padding: 1em;
  border-radius: 0 5px 5px 5px;
}

.tabs-box .categories-list--heading {
  margin: 0;
}

@media (max-width: 576px) {
  .tabs-box {
    border-radius: unset;
  }
}
