.library--box {
  display: flex;
  justify-content: center;
}

.library--board {
  width: calc(100% - 25em);
}

.library--sidebar {
  width: 25em;
  background-color: #fff;
  padding-top: 2em;
}

.library--add {
  margin-left: 1em;
  text-decoration: none;
  background-color: #1d6e87;
  opacity: 0.8;
  box-shadow: 0 0.5em 1em rgb(238, 235, 235);
  color: white;
  text-transform: uppercase;
  padding: 0.6em;
  font-size: 0.8em;
}

@media (max-width: 992px) {
  .library {
    flex-direction: column;
  }
  .library--box {
    flex-direction: column;
  }
  .library--sidebar {
    width: 100%;
  }
  .library--board {
    width: 100%;
  }
}
