html,body{
	height: 100%;
}
.main{
	display: flex;
	overflow: hidden;
}
.about-us{
	flex-grow: 1;
	flex-direction: row;
	display: flex;
}
.main-picture{
	min-width: 500px;
	max-width: 800px;
}
.main-picture img {
	height: 100%;
	width: 100%;

}
