html,body{
	height: 100%;
}
.main{
	display: flex;
	overflow: hidden;
}
.about-us{
	flex-grow: 1;
	flex-direction: row;
	display: flex;
}
.main-picture{
	width: 70%;
	max-width: 700px;
	margin-left: 10px;
}
.main-picture img {
	height: 100%;
	width: 100%;

}
