.list-of-organizations {
  display: flex;
  flex-direction: column;
}

.list-of-organizations--heading {
  padding: 0 2em;
  line-height: 1.5;
}

.organizations--box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 60em;
  margin: 1em auto;
  padding-bottom: 1em;
  min-height: calc(100vh - 11.5em);
}

.list-of-organizations--items {
  margin: 3% 5%;
}
