.organizations--back-link {
  text-align: center;
  margin-bottom: 1em;
}

.organizations--form {
  text-align: center;
}

@media (max-width: 576px) {
  .organizations--form .field-wide {
    width: 90%;
  }
  .organizations--form .form--placeholder {
    margin-top: -1em;
    text-align: left;
  }
}
