.type-list {
  width: 95%;
  margin: 0 auto .25em;
  text-transform: uppercase;
  opacity: 0;
  transition: all .3s ease;
  max-height: 0;
}

.type-list .type-list--link {
  visibility: hidden;
  transition: all .3s ease;
}

.open~.type-list .type-list--link {
  visibility: visible;
}

.open~.type-list {
  max-height: 200px;
  opacity: 1;
  transition-property: max-height, opacity;
  transition-duration: .5s;
}

.open~.type-list>li {
  margin: .5em;
  transition-property: opacity;
  transition-duration: .5s;
}

.type-list li {
  max-height: inherit;
  padding-left: 3em;
  transition: all .3s ease;
}
