.changePasswordForm.form {
  width: 21em;
}

.changePasswordForm .form--box {
  display: block;
  width: 100%;
}

.changePasswordForm .form--field {
  width: 87%;
  margin-right: 0.7em;
  margin-left: 0.7em;
}

.changePasswordForm .form--placeholder {
  left: 1em;
}

.changePasswordForm .label-move-up ~ .form--placeholder,
.changePasswordForm .form--field:focus ~ .form--placeholder {
  left: 1.2em;
}

@media (max-width: 576px) {
  .changePasswordForm.form {
    width: 90%;
  }
}
