.form {
  margin: 1em auto;
  width: 35em;
  background-color: #fff;
  box-shadow: 0 0.5em 1em rgb(238, 235, 235);
  padding: 1em;
}

.form-small {
  width: 25em;
}

.form--heading {
  font-size: 2em;
}

.form--input {
  width: 80%;
  margin: 0.3em;
  border: none;
  background-color: #f6f6f6;
  padding: 1em;
  display: block;
  margin: 0 auto;
}

.input--select {
  width: 85%;
}

.form--radio-input {
  display: flex;
  margin: 1em;
  margin-left: 2.3em;
}

.radio-input--label {
  margin-left: 0.5em;
}

.form--label {
  margin: 2em 0 1em 3.2em;
}

.form-library--button {
  margin: 1em auto;
  display: block;
}

.form--button {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(86, 118, 189, 0.644);
  border: none;
  padding: 1em 2em;
  width: 17em;
  display: inline-block;
  color: #fff;
  transition: all 0.2s;
}

.form--button:hover {
  transform: translateY(-3px);
  background-color: rgba(18, 18, 145, 0.644);
  cursor: pointer;
}

.form--button:active {
  transform: translateY(-1px);
}

.form--question {
  margin-top: 1.3em;
  margin-left: 2em;
}

.form--link {
  margin: 0.5em 0.5em 0.5em 2em;
  display: block;
}

@media (max-width: 576px) {
  .form {
    width: 90%;
  }
}
