.form--add-news {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 7em 0;
}

.form--heading {
    font-size: 2em;
}

.form--current-date {
    margin: 2em 0;
}

.form--short-description {
    width: 30em;
    height: 2em;
    color: #777;
    margin-bottom: 1.5em;
    padding: 0 1em;
}

.form--textarea {
    width: 30em;
    margin: 1em 0;
    color: #777;
    font-family: inherit;
    padding: 1em;
}

.form--label {
    margin-bottom: .5em;
}

.form--button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(86, 118, 189, 0.644);
    border: none;
    padding: 1em 2em;
    max-width: 18em;
    display: inline-block;
    color: #fff;
    transition: all .2s;
}

.form--button:hover {
    transform: translateY(-3px);
    background-color: rgba(18, 18, 145, 0.644);
    cursor: pointer;
}

.form--button:active {
    transform: translateY(-1px);
}

@media (max-width: 500px) {
    .form--add-news {
        padding: .5em;
    }
    .form--short-description {
        width: 95%;
    }
    .form--textarea {
        width: 95%;
    }
}
