.admin {
   display:flex;
   flex-direction: column;
   margin:2em;
   padding:7em 0;
}
.heading-admin {
    font-size: 2em;
 }
.date {
    margin:2em 0 0 0;
}
.textarea {
    border-radius: 5px;
    margin: 1em 0;
    box-shadow: 0 1em 2em rgba(0,0,0,.2);
    font-family:inherit;
    font-size:inherit;
    color:#777;
    width:80vw;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(86, 118, 189, 0.644);
    padding: 1em 2em;
    max-width:14em;
    display:inline-block;
    color: #fff;
    transition: all .2s;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1em 2em rgba(0,0,0,.2);
    background-color:  rgba(18, 18, 145, 0.644);
}
.btn:active {
    transform: translateY(-1px);
}