.library {
  margin-top: 2em;
  width: 70%;
}
.admin-library {
  background-color: #fff;
  margin: 0 1em;
  padding: 1em;
  border-radius: 5px;
}
.admin-library .categories-list--heading {
  margin: 0;
}
.admin-library-link {
  text-decoration: none;
  padding: 1em;
  margin-left: 1em;
  color: #5b94a6;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.admin-library-link:hover {
  cursor: pointer;
}

.admin-library-link.active {
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 768px) {
  .library {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .admin-library-link {
    border-bottom: 2px solid #5b94a6;
    margin-bottom: 1em;
  }
  .admin-library-link.active {
    background-color: #f4f4f4;
  }
}
