.admin {
  max-width: 80em;
  margin: 0 auto;
  display: flex;
}

.news-admin--news-heading {
  margin: 2em 0;
  font-size: 2em;
  text-align: center;
}

.admin .news-list {
  display: block;
  background-color: #fff;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

.admin .news-list .single-news {
  width: 100%;
  padding: 0;
  height: auto;
  margin: 0;
  display: block;
  padding-top: 0;
  box-shadow: none;
}

.admin .single-news--text {
  padding: 0 1em;
}

.admin .single-news--link {
  margin: 1em auto;
}

.news-admin--button {
  margin: 5px;
}

@media (max-width: 992px) {
  .admin {
    flex-direction: column;
  }
  .form--add-news {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .admin {
    width: 95%;
  }
}
