.admin-library {
  background-color: #fff;
  margin: 0 1em;
}

.admin-library-link {
  text-decoration: none;
  padding: 1em;
  margin-left: 1em;
  color: #5b94a6;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.admin-library-link:hover {
  cursor: pointer;
}

.admin-library-link.active {
  cursor: pointer;
  background-color: #fff;
}

@media (max-width: 768px) {
  .admin-library {
    border: none;
  }
  .admin-library-link.active {
    border: none;
    border-bottom: 2px solid #5b94a6;
  }
  .admin-library-link {
    border-bottom: 2px solid #5b94a6;
  }
}
