.admin {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 7em 0;
}

.admin--heading {
    font-size: 2em;
}

.admin--current-date {
    margin: 2em 0;
}
.admin--form {
    font-family: inherit;
    font-size: inherit;
}
.admin--title {
    width:30em;
    height: 2em;
    color: #777;
    margin-bottom: 1.5em;
}
.admin--description {
    width:30em;
    height: 6em;
    color: #777;
    margin-bottom: 1.5em;
}
.admin--textarea {
    width:30em;
    margin: 1em 0;
    color: #777; 
}
.admin--label {
    margin-bottom:1em;
}

.admin--button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(86, 118, 189, 0.644);
    border:none;
    padding: 1em 2em;
    max-width: 18em;
    display: inline-block;
    color: #fff;
    transition: all .2s;
}

.admin--button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1em 2em rgba(0, 0, 0, .2);
    background-color: rgba(18, 18, 145, 0.644);
} 

.admin--button:active {
    transform: translateY(-1px);
}
