.item--buttons {
  text-align: center;
}

.control-button {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #fff;
  transition: all 0.2s;
  display: block;
  margin: 0.5em auto;
  font: inherit;
  box-shadow: 0 0.5em 1em rgb(238, 235, 235);
  width: 10em;
  padding: 0.6em;
}

.control-button:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.control-button:active {
  transform: translateY(-1px);
}

.control-button--green {
  background-color: rgb(92, 185, 120);
}

.control-button--red {
  background-color: rgb(238, 169, 174);
}

.control-button--blue {
  background-color: #37b3d8;
}

.control-button--green:hover {
  background-color: rgb(92, 185, 120);
}

.control-button--red:hover {
  background-color: rgb(218, 137, 144);
}

.control-button--small {
  font-size: 0.9em;
  display: inline-block;
  margin: 0.3em;
}
