.calendar-event {
  width: 80%;
  border-bottom: 1px solid #70ea88;
  padding: 1em 0;
  margin: 0 auto;
}

.calendar-event:last-child {
  margin-bottom: 1em;
}

.event--title {
  font-size: 1.3em;
  text-align: center;
  padding: 0.5em 0;
  font-weight: bold;
}

.time--box--value {
  padding: 0.2em 0px;
}

.time--box {
  display: inline-block;
  margin: 1em;
}

.event--time-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.event--link {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid rgb(92, 185, 120);
  text-transform: capitalize;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.event--description {
  text-align: justify;
  line-height: 1.5;
  text-indent: 2em;
  margin: 0 1em;
}
