.event-info-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(43, 40, 38, 0.6);
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
}
.admin-event-info{
    min-height:580px ;
    align-items: center;
    padding-top: 20px;
    position: relative;
    display: flex;
    width: 60%;
    background-color: #ffffff;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
}
.name-event{
    align-self: center;
    max-width: 158px;
}
.admin-event-info{
    display: flex;
}
.event-info-text div {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px 20px;
    width: 95%;
    min-height: 350px;
    background-color: white;
}

.admin-event-info  .event-input-container{
    margin-left: -45px;
    display: flex;
}