.about-us {
    display: flex;
    flex-direction: column;
    max-width: 80em;
    margin: 6em auto;
    padding: 1em;
    background-color: #fff;
}

.about-us--heading {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.about-us--text {
    margin-bottom: 5em;
    text-align: justify;
    text-indent: 2em;
}
