.card {
  width: 30%;
}

.card--text {
  text-align: justify;
  padding: 0.5em 2em;
  line-height: 1.5;
  text-indent: 2em;
}

@media (max-width: 1200px) {
  .card {
    width: 80%;
  }
  .card--text {
    width: 100%;
  }
}

.card--heading {
  font-size: 1.8em;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 100;
}

@media (max-width: 768px) {
  .card--heading {
    padding: 0;
  }
  .card--text {
    text-indent: 0;
    padding: 1em 0;
  }
  .card {
    width: 100%;
  }
}

.card--link {
  text-decoration: none;
  color: #70ea88;
  width: 12em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.8em 0;
  transition: all 0.2s;
  display: block;
  border: 1px solid #70ea88;
  margin: 0.5em auto;
}

.purple {
  color: #4286f4;
  border: 1px solid #4286f4;
}

@media (hover: hover) {
  .card--link.purple:hover {
    color: #fff;
    background-color: #4286f4;
  }
}

@media (hover: hover) {
  .card--link:hover {
    color: #fff;
    background-color: #70ea88;
  }
}
