.react-calendar button {
  padding: 0;
}

.rbc-today {
  background-color: transparent;
}

.react-calendar__navigation button[disabled] {
  background-color: transparent;
}

.rbc-current-time-indicator {
  height: 0.5em;
  background-color: rgba(249, 204, 157, 0.5);
  width: 100% !important;
}

.rbc-day-slot .rbc-event {
  border: 5px solid white;
  border-radius: 0;
  max-width: 10em !important;
  background-color: #4882ad;
}

.react-calendar__navigation {
  border-bottom: 1px solid;
}

.event-day {
  background-color: #9ac0e3;
}

time {
  padding: 0.5em;
  margin: 0.5em;
  display: block;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar {
  border-color: #1d6e87;
}

.calendar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2em;
}

.calendar--schedule {
  display: block;
  min-height: calc(100vh - 20em);
  width: 50em;
  background-color: white;
  border: 2px solid #1d6e87;
}

.rbc-time-content {
  overflow: hidden;
}

@media (max-width: 1140px) {
  .calendar-wrapper {
    flex-direction: column;
  }
  .react-calendar {
    margin: 0 auto;
  }
  .calendar--schedule {
    margin: 2em auto;
  }
}

@media (max-width: 830px) {
  .calendar--schedule {
    width: 90%;
  }
}
