.navigation{
    background-color: #ECEFF1;
    height: 6vh;
    min-height: 50px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    align-items: center;
    z-index: 100;
    }
.ham-menu{
    position: relative;
    text-align: center;
    color: rgb(51, 51, 51);
    border: 1px solid #ECEFF1;
    padding: .2em;
    text-decoration: none;
    font-size: 2em;
    transition: .5s all ease;
}
.ham-menu:hover{
    color: aliceblue;
    transition: .5s all ease;
    background-color: #A4A4A4;
}
.img-bar{
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    align-self: flex-end;
    display: none;
    max-width: max-content;
    transition: .3s all ease;
    height: 25px;
    margin-right: 1em;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    background-color: #ECEFF1;
}
.navigation-bar{
    display: flex;
    flex-direction: column;
    top: 0;
    position: absolute;
}
.gam-bar.img-bar~.ham-menu{
    display: block;
    width: 100vw;
    border-radius: 0;
    border-color: #2E2E2E;
    background-color: #ECEFF1;
    margin: 0;
}
.img-bar.gam-bar{
    transform: rotate(90deg);
    transition: .3s all ease;
}
@media (max-width: 500px){
    .link-nemu{
        display: none;
    }
    .img-bar{
        display: flex;
    }
    .navigation-menu{
        display: none;
    }
    .ham-menu{
        display: none;
        position: relative;
        text-align: center;
        color: rgb(51, 51, 51);
        border: 1px solid #ECEFF1;
        padding: .2em;
        text-decoration: none;
        font-size: 2em;
        transition: .5s all ease;
        margin-right: .5em;
        border-radius: 5px;
    }
}
@media (min-width: 501px){
    .navigation-bar{
        flex-direction: row;
    }
}
