.navigation {
  background-color: white;
  height: 4em;
  width: 100%;
  z-index: 1;
  top: 0;
  position: fixed;
}

.navigation--menu-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  align-items: flex-end;
  height: 100%;
}

.navigation--button {
  background-image: url('../img/NavMenu.svg');
  background-size: 2em;
  padding: 1em;
  margin: 1em;
  align-self: flex-end;
  outline: none;
  border: none;
  background-color: inherit;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.navigation--button.navigation--button-open {
  transform: rotate(90deg);
  transition: 0.3s all ease;
}

.element--navigation {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-size: 1.2em;
  padding-bottom: 1.25em;
  transition: 0.5s border-color ease;
  border-color: transparent;
}

.menu--element {
  height: 100%;
  align-items: flex-end;
  display: flex;
  margin: 0 0.4em;
}

.element--navigation.active {
  border-bottom: 4px solid #1d6e87;
  padding-bottom: calc(1.25em - 4px);
}
@media (min-width: 1024px) {
  .menu--element:first-child {
    position: fixed;
    left: 0;
  }
}

@media (hover: hover) {
  .menu--element:hover .element--navigation {
    border-bottom: 4px solid rgb(47, 179, 219);
    padding-bottom: calc(1.25em - 4px);
  }
}

@media (max-width: 1024px) {
  @media (hover: hover) {
    .menu--element:hover .element--navigation {
      border-bottom: none;
      padding-bottom: calc(1.25em);
    }
  }
  .navigation--button {
    display: block;
  }
  .navigation--menu-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-top: 4em;
    width: 50%;
  }
}
