.main-logo {
  margin: 10px 0 10px 25px;
}
.container-min {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  background-color: #dbd8d8;
  line-height: 2.5;
  z-index: 999;
  top: 0;
}

.button-admin-to-main {
  color: #9b9b9b;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.buttons-container {
  display: flex;
  align-items: center;
}