.restorePasswordForm--form .form--box {
  display: block;
  width: 44%;
  margin: 0 auto;
}

.restorePasswordForm--form .form--field {
  width: unset;
}

.restorePasswordForm--form .form--placeholder {
  left: 2.5em;
}

.restorePasswordForm--form .form--field:focus ~ .form--placeholder {
  left: 2.5em;
}
