.restorePasswordForm--box {
  width: 40%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.restorePasswordForm--box .form--placeholder {
  left: 1.5em;
}

.restorePasswordForm--box .form--field:focus ~ .form--placeholder {
  left: 1.5em;
}
