.restorePasswordForm--form .form--box {
  display: block;
  width: 14em;
  margin: 0 auto;
}
.restorePasswordForm--form .form--field {
  margin: 2em 0;
}

.restorePasswordForm--form .form--placeholder {
  left: 1.5em;
}

.restorePasswordForm--form .form--field:focus ~ .form--placeholder {
  left: 1.5em;
}
