.restorePasswordForm--form .form--box {
  display: block;
  width: 39%;
  margin: 0 auto;
}

.restorePasswordForm--form .form--placeholder {
  left: 1.5em;
}

.restorePasswordForm--form .form--placeholder {
  left: 1.5em;
}

.restorePasswordForm--form .form--field:focus ~ .form--placeholder {
  left: 1.5em;
}
