.category--item {
  font-family: 'Roboto', sans-serif;
  color: black;
  outline: none;
  border: none;
  font: inherit;
  display: inline-block;
  text-transform: uppercase;
  background-color: inherit;
  text-align: left;
  line-height: normal;
  width: 100%;
  padding: .25em;
  text-decoration: none;
}

.category--item:hover {
  background-color: #37b3d8;
  color: #fff;
  transition: background-color .2s, color .2s ease;
}

.category--title {
  cursor: pointer;
  display: flex;
  margin-left: .5em;
  text-transform: capitalize;
}

.category--title:before {
  content: '+';
  font-size: 1.2em;
  padding-right: .3em;
  color: #1d6e87;
  font-weight: bold;
}

.open .category--title:before {
  content: '\2013';
}
