.category--item {
  color: black;
  outline: none;
  border: none;
  font: inherit;
  display: inline-block;
  text-transform: uppercase;
  background-color: inherit;
  text-align: left;
  line-height: normal;
  width: 100%;
  padding: 0.25em;
  text-decoration: none;
}

.category--item:hover {
  background-color: #37b3d8;
  color: #fff;
  transition: background-color 0.2s, color 0.2s ease;
}

.category--title {
  cursor: pointer;
  display: flex;
  margin-left: 0.5em;
  text-transform: capitalize;
}

.category--title:before {
  content: '+';
  font-size: 1.2em;
  padding-right: 0.3em;
  color: #1d6e87;
  font-weight: bold;
}

.open .category--title:before {
  content: '\2013';
  /* минус из аккордеона */
}
