.education-route--heading {
  text-align: center;
  margin: 1em 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2em;
  color: #1d6e87;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.education-route--form {
  background-color: #fff;
  box-shadow: 0 0.5em 1em rgb(238, 235, 235);
  margin: 1em auto;
  padding: 1em;
  width: 45em;
}

.form--description {
  text-align: center;
}

.form--title {
  color: #37b3d8;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 2em;
  text-align: center;
}

.form--field-wrapper p span {
  color: #8b0000;
  padding-left: 2em;
}

.form--field-comment {
  text-align: center;
  margin: 1em 0 0.3em 0;
}

select.form--field {
  width: 42em;
}

.form--field {
  width: 40em;
  border: none;
  background-color: #F0F0F0;
  padding: 1em;
  display: inline-block;
  margin: 0 auto;
}

.form--field-wrapper {
  width: 80%;
  margin: 0 auto;
}

.form--field:invalid+.validity:after {
  position: absolute;
  content: '*';
  padding-left: 0.5em;
  padding-top: 0.75em;
  color: #8b0000;
}

.form--field:valid+.validity:after {
  position: absolute;
  content: '✓';
  padding-top: 0.75em;
  padding-left: 0.5em;
  color: #009000;
}
