.tabs-bar .tabs-bar-btn {
    font-size: 16px;
    height: 37px;
    min-width: 85.4px;
    padding: 0 15px;
    color: white;
    background-color: #459369;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .tabs-bar .tabs-bar-btn.active {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #4fa376;
  }
  
  /* .tabs-bar .tabs-bar-btn.btn-new {
    max-width: 157.6px;
    width: 100%;
  } */