.admin-form-news {
  padding: 0.5em;
}

.admin-form-news--heading {
  color: #32e9c2;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
  text-align: center;
}

@media (max-width: 992px) {
  .admin-form-news {
    padding: 1em 0;
  }
}
