.education-route--filter {
  background-color: #fff;
  margin: 1em auto;
  padding: 0.5em 0;
  width: 95%;
}

.educational-route--message {
  text-align: center;
  font-size: 1.4em;
}

.filter--box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form--filter-label {
  margin: 3em 0 0 0.8em;
}

.field-wide {
  width: 30em;
}

.field-medium {
  width: 25.5em;
}

.field-narrow {
  width: 8em;
}

@media (max-width: 576px) {
  .field-medium {
    width: 90%;
  }
}
