.education-route--table {
  width: 95%;
  margin: 2em auto;
}

.table--header {
  background-color: #5b94a6;
  color: #fff;
}

.table--body {
  margin-bottom: 1em;
}

.header--field {
  padding: 1em;
}

.body--field {
  background-color: #fff;
  padding: 1em 0.5em;
  text-align: center;
}

.table--body:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.body--field:nth-child(2n + 1) {
  background-color: #fafafa;
}

.body--header {
  display: none;
}

.field--list {
  line-height: 1.5;
}

@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .body--header {
    display: block;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background-color: #b4e9fa;
    padding: 1em 0.5em;
  }

  .table--header {
    display: none;
  }

  .header--field {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .field--wide {
    min-width: 90%;
  }
}
