.sidebar {
  display: flex;
}

.sidebar--navigation {
  min-width: 23em;
  background-color: #fff;
  padding-top: 2em;
  min-height: calc(100vh - 10em);
}

.sidebar--navigation--header {
  font-size: 1.5em;
  color: black;
  padding: 0 1em;
}

.sidebar--link {
  display: block;
  margin: 1em 0;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1em 3em;
}

.sidebar--link:hover {
  color: #fff;
  background-color: #37b3d8;
}

@media (max-width: 992px) {
  .sidebar {
    flex-direction: column;
  }
  .sidebar--navigation {
    min-width: 100%;
    min-height: auto;
  }
}
