.admin-events {
  margin: 0 auto;
}

.events-form {
  text-align: center;
  width: 29em;
}

.events-description {
  width: 25em;
  height: 12em;
  margin: 1em;
  border: 1px solid #37b3d8;
  padding: 2em 1em 1em 1em;
  font-family: inherit;
}

.label-move-up ~ .form--placeholder,
.events-description:focus ~ .form--placeholder {
  font-size: 0.8em;
  left: 3.5em;
  top: 1.7em;
  color: #37b3d8;
}

.events-form--field-box {
  position: relative;
  display: inline-block;
  margin-right: 2em;
}

@media (max-width: 576px) {
  .events-form {
    width: 90%;
  }
  .events-description {
    width: 90%;
  }
  .events-form--field-box {
    display: block;
  }
  .events-form--field-box .form--placeholder-small {
    left: 4em;
  }
  .events-form--field-box .field-narrow {
    width: 12em;
  }
}
