.footer{
  width: 100%;
  bottom: 20px;
  position: fixed;
  font-family: Montserrat;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;

}
.link-on-main-page{
  color: #9b9b9b; 
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
}
.footer span{
  font-weight: 500;
  color: #9b9b9b;
}
.copyright{
  color: #9b9b9b;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 10px;
}

