.footer-client{
  display: block;
  margin-top:-40px;
  height: 40px;
}
.footer-news{
  position:fixed;
  bottom:2px;
}
.footer{
  font-family: Montserrat;
  font-size: 16px;
  color: #3b3f48;
  text-align:top;  
  padding-left: 20px;
}
.footer-client a{
  color: #3b3f48; 
}
.link-on-main-page{
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
}
.footer-client span{
  font-weight: 500;
}
.copyright{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 10px;
}
.footer-events{
  position: fixed;
  bottom: 0;
}