/* .date-and-input{
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
}
.change-state-buttons {
    margin: 25px 0px;
    text-align: center;
}
#title {
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}
#title:focus {
    outline: none;
}
.container-for-input label{
    align-self: center
}
.modal-window label {
    font-weight: 600;
    display: inline-block;
    width: 180px;
    margin-right: 20px;
} */
.name-place-event,
.date-start-end-event,
.tickets-event,
.speakers-button-event,
.speakers-list-event ul,
.contact-person-phone,
.organization-website-event
{
    display: flex;

}
.name-place-event div,
.date-start-end-event div,
.tickets-event div,
.contact-person-phone div,
.organization-website-event div
{
    flex-basis: 50%;
}

.modal-window input{
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}
.modal-new-event-field .modal-window label{
    font-weight: 600;
    width: 130px;
    margin-right: 20px;
}