.date-and-input{
    display: flex;
    padding-left: 40px;
    margin-top: 10px;
    flex-direction: column;
}
.event-title {
    display: flex;
    margin:15px 0;
}
.change-state-buttons {
    margin: 25px 0px;
    text-align: center;
}
#title {
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}
#title:focus {
    outline: none;
}