.control-button {
  width: 12em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 0.8em 0;
  color: #fff;
  transition: all 0.2s;
  display: block;
  margin: 0.5em auto;
  font: inherit;
}

.control-button:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.control-button:active {
  transform: translateY(-1px);
}

.control-button-secondary {
  background-color: rgb(92, 185, 120);
}

.control-button-warning {
  background-color: rgb(238, 169, 174);
}

.control-button-primary {
  background-color: #37b3d8;
}

.control-button-secondary:hover {
  background-color: rgb(92, 185, 120);
}

.control-button-warning:hover {
  background-color: rgb(218, 137, 144);
}

.control-button-small {
  font-size: 0.8em;
  display: inline-block;
  margin: 0.3em;
}
