.login--error-message {
  color: red;
}

.form--question {
  text-align: center;
}

.question--text {
  margin: 0.5em;
}

.form--field {
  display: inline-block;
  width: 50%;
  margin: 2em 0;
}

@media (max-width: 576px) {
  .form--field {
    display: block;
    width: 95%;
  }
}
