.login--error-message {
  color: red;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  max-width: 30em;
  background-color: #fff;
  box-shadow: 0 0.5em 1em rgb(238, 235, 235);
  padding: 1em;
}

.login-form--question {
  margin-top: 1.3em;
  margin-left: 0.5em;
}

.login-form--link {
  margin: 0.5em;
}
