.login--error-message {
  color: red;
}

.form--question {
  text-align: center;
}

.question--text {
  margin: 0.5em;
}

.form--box {
  position: relative;
  display: inline-block;
  width: 50%;
}

.form--field {
  margin: 2em 1em;
  border: none;
  border-bottom: 1px solid #37b3d8;
  padding: 1em;
  outline: none;
  box-shadow: none;
}

.form--placeholder {
  position: absolute;
  pointer-events: none;
  left: 1.5em;
  top: 2.5em;
  transition: 0.3s ease all;
}

.form--box .field--select {
  width: 70%;
  font: inherit;
  padding-left: 0;
  color: inherit;
  padding-bottom: 0.7em;
}

.label-move-up ~ .form--placeholder,
.form--field:focus ~ .form--placeholder {
  font-size: 0.7em;
  left: 2.5em;
  top: 2em;
  color: #37b3d8;
}

.field--select {
  width: 45%;
}

@media (max-width: 576px) {
  .form--box {
    display: block;
    width: 90%;
  }
  .form--field {
    width: 90%;
  }
  .form--box .field--select {
    width: 95%;
  }
}
