.news--list-news {
    max-width: 80em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news--single-box {
    width: 30em;
    height: 21em;
    border-radius: 5px;
    padding-top: 1em;
    margin: 1em;
    box-shadow: 0 .5em 1em rgb(238, 235, 235);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    text-indent: 3em;
    background-color: #fff;
}

.news--single-box:hover {
    cursor: pointer;
}

.news--link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.news--heading {
    font-size: 2em;
    padding-top: 2em;
    text-align: center;
}

.news--single-box .news--button {
    display: block;
}

@media (max-width: 1090px) {
    .news--single-box {
        width: 90%;
    }
}
