.news-list--text {
    max-width: 80em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-list--single-box {
    width: 30em;
    height: 24em;
    border-radius: 5px;
    padding-top: 1em;
    margin: 1em;
    box-shadow: 0 .5em 1em rgb(238, 235, 235);
    background-color: #fff;
}

.news-list--heading {
    text-align: center;
    margin: 1em 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: #23E2F4;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.news-list--single-box .single-news--button {
    display: block;
}

@media (max-width: 1030px) {
    .news-list--single-box {
        width: 95%;
        margin: .5em;
    }
}
@media (max-width: 800px) {
    .news-list--heading{
        margin: 1em 0;
    }
    }