.news-list--text {
    max-width: 80em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-list--single-box {
    width: 30em;
    height: 23em;
    border-radius: 5px;
    padding-top: 1em;
    margin: 1em;
    box-shadow: 0 .5em 1em rgb(238, 235, 235);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    text-indent: 3em;
    background-color: #fff;
}

.news-list--heading {
    font-size: 2em;
    margin: 2em 0;
    text-align: center;
}

.news-list--single-box .single-news--button {
    display: inline-block;
}

@media (max-width: 1090px) {
    .news--single-box {
        width: 90%;
    }
}
