.homepage-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4F4F4;
}

.homepage-news--box {
    max-width: 22em;
    height: 25em;
    border-radius: 5px;
    padding-top: 2em;
    margin: 1em;
    box-shadow: 0 .5em 1em rgb(238, 235, 235);
    background-color: #fff;
}

.homepage-news--box:hover {
    cursor: pointer;
}

.news-box--heading {
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
    color: rgb(62, 232, 200);
}

.homepage-news--box .news--button{
    display: block;
}
