body {
  font-family: 'Play', sans-serif;
  background-color: #F4F4F4;
}

.indent {
  flex-grow: 1;
  position: relative;
  margin: 0 auto;
}

.indent::before {
  height: 4em;
  display: block;
  content: " ";
}
