body {
  font-family: 'Play', sans-serif;
}

.indent {
  flex-grow: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.indent::before {
  height: 6vh;
  min-height: 50px;
  display: block;
  content: " ";
}