body{
  background-color: #e8e6e2;
}
.wrapper-user{
  width: 100%;
  height: 100%;
}
.main-user{
  display: flex;
  min-height: 100%;
} 
.auth-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-form{
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size:2px;
  width: 400px;
  height: 300px;
  background-color: #dbd8d8;
  border-radius:5px; 
}
.username-div , .password-div{
  position: relative;
  display: inline-block;
}
input[type=text], input[type=password] {
  font-family: 'Montserrat', sans-serif;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 40px;
  margin-left: 0;
  border-radius: 5px;
  font-size: 16px;
}

.username-div:before{
  content: url(../../Assets/AssetsSvg/avatar.svg);
  overflow: hidden;
  background-repeat: no-repeat;
  height: 25px;
  width:  25px;
  margin-top: 20px;
  position: absolute;
  margin-left: 65px;
}
.password-div:before{
  content: url(../../Assets/AssetsSvg//keyhole.svg);
  overflow: hidden;
  background-repeat: no-repeat;
  height: 25px;
  width:  25px;
  margin-top: 20px;
  position: absolute;
  margin-left: 65px;
}

.login-registration-form {
  padding: 10px;
  color: #4CAF50;
  display: flex;
  font-size: 16px;
  justify-content: center;
  text-decoration: none;
}