.edu-way-people-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px 14px 6px 22px;
  border-radius: 3px;
  background-color: white;
}

.edu-way-people-bar .edu-way-bar-column {
  display: flex;
  flex: 1 auto;
  align-items: center;
}

.edu-way-people-bar .edu-way-bar-column.second {
  flex: none;
}